@{
    Layout = "_Layout";
    ViewBag.Title = "Change password";
    int UserId = ViewBag.UserId; 
    MessageModel Message = ViewBag.Message;
}


<div class="col-lg-8 mx-auto text-center">
    <h2>Change password</h2>
    @if (Message != null)
    {
        <div class="alert alert-@Message.Type col-lg-6 mx-auto" role="alert">
            @Message.Message
        </div>
    }
    <form class="col-lg-8 mx-auto" asp-controller="User" asp-action="ChangePassword" method="POST">
       <input type="hidden" value="@UserId" name="UserId" />
        <div class="mt-3">
            <label for="CurrentPassword">Current password</label>
            <input class="form-control" name="CurrentPassword" type="password" placeholder="Enter a current password" required />
        </div>

        <div class="mt-3">
            <label for="NewPassword">New password</label>
            <input class="form-control" name="NewPassword" type="password" placeholder="Enter a new password" required />
        </div>

        <div class="mt-3">
            <button class="form-control btn bg-success" type="submit">Change password</button>
        </div>

    </form>
</div>
