@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Store Your Contacts Now</h1>
        <a class="btn btn-lg btn-dark border border-light" asp-controller="Access" asp-action="Register">Get Started</a>
   </div>
</div>
